<footer>
  <div class="footer-float-left">
    <div class="footer-left-vert-center">
      <h4>View By Tag:</h4>
      <ul>
        <li><a href="/blog?tag=Javascript">JavaScript</a></li>
        <li><a href="/blog?tag=Node.js">Node.js</a></li>
        <li><a href="/blog?tag=CSS">HTML/CSS</a></li>
        <li><a href="/blog?tag=.NET">.NET</a></li>
      <ul>
    </div>
  </div>
  <div class="footer-float-right">
    <a href="https://github.com/cbuehrle1"><div class="github-icon">
    </div></a>
    <a href="https://www.linkedin.com/in/chad-buehrle-357b802a/"><div class="linkedin-icon">
    </div></a>
  </div>
</footer>
<script>
  var container = document.querySelector(".container");
  var title = document.querySelector("#title-content")
  container.style.minHeight = window.innerHeight + "px";
  if (title !== null) {
    console.log("why we here");
    if (window.location.search == "") {
      title.textContent = "Recent Posts";
    }
    else {
      var queryString = window.location.search;
      queryString = queryString.substring(1);
      var arr = queryString.split("=")
      title.textContent = arr[0] + ": " + arr[1];
    }
  }
</script>
</body>
</html>
