<% include _header %>
  <a href="/new">Make a new Post</a>
    <% posts.forEach(function (post) { %>
      <div class="ejs-blog-post">
        <h1><%= post.title %></h1>
        <h2><%= post.date %></h2>
        <div><% post.body.forEach(function(item) { %>
          <% if (item.tag === "h2") { %>
            <h1><%= item.content %></h1>
          <% } else if (item.tag === "p") { %>
            <p><%= item.content %></p>
        <% }}) %>
        </div>
      </div>
    <% }) %>
  </div>
  <script id="dsq-count-scr" src="//chadbuehrle.disqus.com/count.js" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react-dom.js"></script>
<% include _footer %>
