<% include _header %>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <h1>Templated Project</h1>

    <p>If this is red, the css is generated and working. If you see text below, then React is up and running and all is probably well in the world.</p>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react-dom.js"></script>
<% include _footer %>
