<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="portfolio.css" rel="stylesheet" />
  </head>
  <body>
    <div class="main-container">
      <header><h1>Welcome!</h1></header>
      <div class="title-container">
      <div class="container-shader">
        <div class="title-content">
          <h1>Hi. I'm Chad Buehrle.</h1>
          <h1>Full Stack Web Developer.</h1>
        </div>
      </div>
      </div>
      <div class="about-container">
        <div class="about-header">
          <h1>I build clean and functional web applications using an ever growing set of tools such as React, Node.js, and jQuery</h1>
        </div>
        <div class="float-div">
          <div class="float-centering">
            <div class="float-content">
              <h1><a href="/skills">Skill Set</a></h1>
            </div>
          </div>
        </div>
        <div class="float-div-right">
          <div class="float-centering-right">
            <div class="float-content">
              <h1><a href="/blog">Blog</a></h1>
            </div>
          </div>
        </div>
      </div>

      <footer>
      </footer>
    </div>
    <script src="portfolio.js"></script>
  </body>

</html>
