<% include _header %>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <h1>Templated Project</h1>

    <p>If this is red, the css is generated and working. If you see text below, then React is up and running and all is probably well in the world.</p>

    <div id="react-root"></div>
<% include _footer %>
