<% include _header %>
      <h1 class="ejs-logging-h1">Login</h1>
      <form class="ejs-form" action="/login" method="post">
        <input name="username" type="text" placeholder="Email" required autofocus>
        <input name="password" type="password" placeholder="Password" required>
        <input class="input-button" type="submit" value="Login" >
      </form>
      <% if (message !== undefined) { %>
        <p><%= message %></p>
      <% } %>
<% include _footer %>
