<% include _header %>
    <form class="ejs-form" action="/new" method="post">
      <input name="title" type="text" placeholder="Title" required autofocus />
      <textarea name="body" type="text"></textarea>
      <input class="input-button" type="submit" value="Post"/>
    </form>
<% include _footer %>
