/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Signika', sans-serif; }

.container {
  overflow: auto; }

.recent-post-float {
  float: left;
  width: 33%; }
  .recent-post-float div {
    background-color: #FFF;
    width: 80%;
    margin: 20px auto;
    padding: 3% 5%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2); }
  .recent-post-float h1 {
    font-size: 20px;
    margin-bottom: 10px; }
  .recent-post-float .recent-div-post {
    box-shadow: none;
    padding: 3% 5%;
    margin: 0 0 10px 0;
    border-bottom: solid 1px black; }

.single-post-float {
  float: left;
  width: 67%; }

.ejs-blog-post {
  width: 82%;
  background-color: #FFF;
  margin: 20px auto;
  padding: 3% 5%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2); }
  .ejs-blog-post h1 {
    font-size: 36px; }
  .ejs-blog-post h2 {
    font-size: 16px;
    margin-bottom: 5%; }
  .ejs-blog-post p {
    font-size: 20px;
    margin-bottom: 3%; }
  .ejs-blog-post img {
    width: 50%;
    height: 50%; }
  .ejs-blog-post iframe {
    width: 100%;
    height: 360px; }

.ejs-front-page-post {
  width: 55%;
  background-color: #FFF;
  margin: 20px auto;
  padding: 3% 5%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2); }
  .ejs-front-page-post h1 {
    font-size: 36px; }
  .ejs-front-page-post h2 {
    font-size: 16px;
    margin-bottom: 5%; }
  .ejs-front-page-post p {
    font-size: 20px;
    margin-bottom: 3%; }
  .ejs-front-page-post img {
    width: 50%;
    height: 50%; }
  .ejs-front-page-post iframe {
    width: 100%;
    height: 360px; }

#test {
  width: 680px;
  background-color: #FFF;
  margin: 50px auto;
  padding: 3% 5%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2); }
  #test h1 {
    font-size: 36px; }
  #test h2 {
    font-size: 16px;
    margin-bottom: 5%; }
  #test p {
    font-size: 20px; }
  #test img {
    width: 50%;
    height: 50%; }

/*# sourceMappingURL=style.css.map */
