@import 'reset';
body{
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Open Sans', sans-serif;
}
.container{
  overflow: auto;
}
.recent-post-float{
  float: left;
  width: 33%;
  div{
    background-color: #FFF;
    width: 65%;
    margin: 20px auto;
    padding: 3% 5%;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  }
  h1{
    margin-bottom: 20px;
    text-align: center;
  }
  h2{
    font-size: 16px;
    margin-bottom: 5px;
  }
  h3{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .recent-div-post{
    box-shadow: none;
    padding: 3% 5%;
    margin: 0 auto 10px auto;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    a{
      text-decoration: none;
    }
  }
}
.single-post-float{
  float: left;
  width: 67%;
}
.ejs-blog-post{
  width: 78%;
  background-color: #FFF;
  margin: 20px auto;
  padding: 3% 5%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  h1{
    font-size: 36px;
    text-align: center;
  }
  h2{
    font-size: 16px;
    margin-bottom: 5%;
  }
  a{
    text-decoration: none;
    color: black;
  }
  p{
    font-size: 16px;
    margin-bottom: 3%;
    line-height: 1.5em;
  }
  img{
    width: 50%;
    height: 50%;
  }
  iframe{
    width: 100%;
    height: 360px;
  }
}
.ejs-front-page-post{
  width: 50%;
  background-color: #FFF;
  margin: 20px auto;
  padding: 3% 5%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  h1{
    font-size: 36px;
    text-align: center;
  }
  a{
    text-decoration: none;
    color: black;
  }
  h2{
    font-size: 16px;
  }
  p{
    font-size: 16px;
    margin-bottom: 3%;
    line-height: 1.5em;
  }
  img{
    width: 50%;
    height: 50%;
  }
  iframe{
    width: 100%;
    height: 360px;
  }
}
.ejs-post-header{
  margin-bottom: 15px;
  h2{
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
  }
  .comment-counter{
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
  }
}
#test{
  width: 680px;
  background-color: #FFF;
  margin: 50px auto;
  padding: 3% 5%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 16px;
    margin-bottom: 5%;
  }
  p{
    font-size: 20px;
  }
  img{
    width: 50%;
    height: 50%;
  }
}
