@import 'reset';
body{
  background-color: rgba(0, 0, 0, 0.05);
}
.main-container{
	position: relative;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}
.title-container{
	background-image: url("http://wallpapercave.com/wp/yMm4J6h.jpg");
	background-size: cover;
}
.container-shader{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.title-content{
	position: absolute;
	color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align: center;
}
.title-content h1{
	margin: 2% 0;
	font-size: 48px;
}
.about-div{
	overflow: auto;
  width: 100%;
}
.about-header{
  position: relative;
  h1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    padding: 2.5% 2.5%;
    border-left: solid 1px black;
    border-right: solid 1px black;
    transform: translate(-50%, -50%);
  	text-align: center;
  }
}
.float-div{
	float: left;
	width: 50%;
	position: relative;
}
.float-div-right{
  float: right;
  width: 50%;
	position: relative;
}
.float-centering-right{
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
	background-color: white;
  width: 30%;
	padding: 5% 1%;
  margin-left: 5%;
	cursor: pointer;
	text-align: center;
  .float-content{
    font-size: 24px;
  }
}
.float-centering{
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
	background-color: white;
  width: 30%;
	padding: 5% 1%;
  margin-left: 55%;
	cursor: pointer;
	text-align: center;
}
.float-centering .float-content{
	font-size: 24px;
}
header{
	position: fixed;
	top: 0;
  font-size: 18px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	padding: 15px 0;
	color: white;
	z-index: 2;
  overflow: auto;
  .header-float{
    float: left;
    width: 18%;
    margin-left: 2%;
  }
  ul{
    overflow: auto;
    float: left;
    width: 80%;
    text-align: center;
    color: white;
    li{
      float: right;
      width: 10%;
      margin-bottom: 5px;
      a{
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
      .content-a{
        color: black;
        text-decoration: none;
      }
    }
  }
}
.content-header{
	background-color: white;
	color: black;
}
.portfolio-container{
  width: 75%;
  margin: 0 auto 50px;
  overflow: auto;
  font-size: 20px;
  .port-float-left{
    position: relative;
    float: left;
    width: 50%;
    .port-shader-left{
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      width: 95%;
      height: 275px;
      position: absolute;
      text-align: center;
      margin: 0 auto;
      top: 0;
      left: 2.5%;
      .port-center-text{
        position: relative;
        height: 100%;
        width: 100%;
        .transform-div{
          position: absolute;
          top: 50%;
          left: 50%;
          transition-property: transform;
          transition-duration: 100ms;
          transition-timing-function: ease-out;
          transition-delay: initial;
          transform: translate(-50%, -30%);
          a{
            text-decoration: none;
            color: white;
            height: 100%;
            width: 100%;
            button{
              cursor: pointer;
              opacity: 0;
              margin-top: 10px;
              padding: 10px;
              color: white;
              border: solid 2px white;
              display: inline-block;
              background-color: rgba(0, 0, 0, 0);
            }
            button:hover{
              background-color: white;
              color: #000;
            }
          }
        }
      }
      .port-center-text:hover{
        .transform-div{
          transition-property: transform;
          transform: translate(-50%, -50%);
          button{
            opacity: 1;
          }
        }
      }
    }
  }
  .port-float-right{
    position: relative;
    float: left;
    width: 50%;
    .port-shader-right{
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      width: 95%;
      height: 275px;
      text-align: center;
      position: absolute;
      margin: 0 auto;
      top: 0;
      left: 2.5%;
      .port-center-text{
        position: relative;
        height: 100%;
        width: 100%;
        .transform-div{
          position: absolute;
          top: 50%;
          left: 50%;
          transition-property: transform;
          transition-duration: 100ms;
          transition-timing-function: ease-out;
          transition-delay: initial;
          transform: translate(-50%, -30%);
          a{
            text-decoration: none;
            color: white;
            height: 100%;
            width: 100%;
            button{
              cursor: pointer;
              opacity: 0;
              margin-top: 10px;
              padding: 10px;
              color: white;
              border: solid 2px white;
              display: inline-block;
              background-color: rgba(0, 0, 0, 0);
            }
            button:hover{
              background-color: white;
              color: #000;
            }
          }
        }
      }
      .port-center-text:hover{
        .transform-div{
          transition-property: transform;
          transform: translate(-50%, -50%);
          button{
            opacity: 1;
          }
        }
      }
    }
  }
}
#proj-1{
  background-image: url("/images/diet-app.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  width: 95%;
  height: 275px;
  margin: 0 auto;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}
#proj-2{
  background-image: url("/images/octocats.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  width: 95%;
  height: 275px;
  margin: 0 auto;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}
#proj-3{
  background-image: url("/images/github-repo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  width: 95%;
  height: 275px;
  margin: 0 auto;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}
#proj-4{
  background-image: url("/images/blog-pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  width: 95%;
  height: 275px;
  margin: 0 auto;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}
footer{
  overflow: auto;
  font-size: 12px;
  width: 98%;
  padding: 1%;
  background-color: #FFF;
  color: black;
  .footer-float-left{
    float: left;
    width: 50%;
    .footer-left-vert-center{
      padding-top: 2%;
      h2{
        float: left;
        width: 40%;
      }
    }
  }
  .footer-float-right{
    float: right;
    overflow: auto;
    width: 40%;
    text-align: right;
    .github-icon{
      float: right;
      width: 8%;
      border-radius: 3px;
      height: 40px;
      margin: 0 .5%;
      background-image: url("https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
    }
    .linkedin-icon{
      float: right;
      width: 9%;
      height: 42px;
      margin: 0 .5%;
      background-image: url("http://netdna.copyblogger.com/images/linkedin.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
@media (max-width: 1118px) {
  footer{
    .footer-float-right{
      .github-icon{
        width: 10%;
      }
      .linkedin-icon{
        width: 10%;
      }
    }
  }
}
@media (max-width: 959px) {
  .portfolio-container{
    width: 60%;
    margin: 0 auto;
    .port-float-left{
      float: none;
      width: 100%;
      margin: 0 auto 15px auto;
    }
    .port-float-right{
      float: none;
      width: 100%;
      margin: 0 auto 15px auto;
    }
  }
}
@media (max-width: 891px) {
  .title-content{
    h1{
      font-size: 32px;
    }
  }
  footer{
    .footer-float-right{
      .github-icon{
        width: 12%;
      }
      .linkedin-icon{
        width: 12%;
      }
    }
  }
}
@media (max-width: 818px) {
  footer{
    .footer-float-right{
      .github-icon{
        width: 13%;
      }
      .linkedin-icon{
        width: 13%;
      }
    }
  }
}
@media (max-width: 760px) {
  .portfolio-container{
    font-size: 14px;
    .port-float-left{
      .port-shader-left{
        .port-center-text{
          .transform-div{
            a{
              button{
                opacity: 1;
                background-color: white;
                color: #000;
              }
            }
          }
        }
      }
    }
    .port-float-right{
      .port-shader-right{
        .port-center-text{
          .transform-div{
            a{
              button{
                opacity: 1;
                background-color: white;
                color: #000;
              }
            }
          }
        }
      }
    }
  }
  header{
    font-size: 12px;
    ul{
      li{
        width: 20%;
      }
    }
  }
  .about-header{
    h1{
      font-size: 16px;
    }
  }
  footer{
    .footer-float-right{
      .github-icon{
        width: 15%;
      }
      .linkedin-icon{
        width: 15%;
      }
    }
  }
}
@media (max-width: 630px) {
  footer{
    .footer-float-right{
      .github-icon{
        width: 17%;
      }
      .linkedin-icon{
        width: 17%;
      }
    }
  }
}
@media (max-width: 560px) {
  footer{
    .footer-float-right{
      .github-icon{
        width: 20%;
      }
      .linkedin-icon{
        width: 20%;
      }
    }
  }
}
@media (max-width: 450px) {
  title-content{
    h1{
      font-size: 24px;
    }
  }
  footer{
    .footer-float-right{
      .github-icon{
        width: 24%;
        margin: 0 2%;
      }
      .linkedin-icon{
        width: 24%;
        margin: 0 2%;
      }
  }
}
}
@media (max-width: 380px) {
  footer{
    .footer-float-right{
      .github-icon{
        width: 30%;
        margin: 0 2%;
      }
      .linkedin-icon{
        width: 30%;
        margin: 0 2%;
      }
  }
}
}
