@import 'reset';
body{
  background-color: rgba(0, 0, 0, 0.05);
}
.main-container{
	position: relative;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}
.title-container{
	background-image: url("http://wallpapercave.com/wp/yMm4J6h.jpg");
	background-size: cover;
}
.container-shader{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.title-content{
	position: absolute;
	color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align: center;
}
.title-content h1{
	margin: 2% 0;
	font-size: 48px;
}
.about-div{
	overflow: auto;
  width: 100%;
}
.about-header{
  position: relative;
  h1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    padding: 2.5% 2.5%;
    border-left: solid 1px black;
    border-right: solid 1px black;
    transform: translate(-50%, -50%);
  	text-align: center;
  }
}
.float-div{
	float: left;
	width: 50%;
	position: relative;
}
.float-div-right{
  float: right;
  width: 50%;
	position: relative;
}
.float-centering-right{
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
	background-color: white;
  width: 30%;
	padding: 5% 1%;
  margin-left: 5%;
	cursor: pointer;
	text-align: center;
  .float-content{
    font-size: 24px;
  }
}
.float-centering{
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
	background-color: white;
  width: 30%;
	padding: 5% 1%;
  margin-left: 55%;
	cursor: pointer;
	text-align: center;
}
.float-centering .float-content{
	font-size: 24px;
}
header{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	padding: 5px 0;
	color: white;
	z-index: 2;
}
header h1{
	margin-left: 5%;
}
.content-header{
	background-color: white;
	color: black;
}
.portfolio-container{
  width: 75%;
  margin: 0 auto 20px;
  overflow: auto;
  .port-float-left{
    float: left;
    width: 50%;
  }
  .port-float-right{
    float: left;
    width: 50%;
  }
}
#proj-1{
  background-image: url("/images/diet-app.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  width: 90%;
  height: 250px;
  margin: 0 auto;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}
#proj-2{
  background-image: url("/images/octocats.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  width: 95%;
  height: 250px;
  margin-left: 0 auto;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}
