@import 'reset';
body{
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Signika', sans-serif;
}

.ejs-blog-post{
  width: 680px;
  background-color: #FFF;
  margin: 20px auto;
  padding: 3% 5%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 16px;
    margin-bottom: 5%;
  }
  p{
    font-size: 20px;
    margin-bottom: 3%;
  }
  img{
    width: 50%;
    height: 50%;
  }
}
#test{
  width: 680px;
  background-color: #FFF;
  margin: 50px auto;
  padding: 3% 5%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 16px;
    margin-bottom: 5%;
  }
  p{
    font-size: 20px;
  }
  img{
    width: 50%;
    height: 50%;
  }
}
